:root {
  --vt-c-white: #f8f8f8;
  --vt-c-black: #181818;
  --vt-c-green: #00CC99;
  --vt-c-text-light: var(--vt-c-white);
  --vt-c-text-dark: var(--vt-c-black);
}

:root {
  --color-background: var(--vt-c-white-soft);

  --color-border: var(--vt-c-white);

  --color-heading: var(--vt-c-text-dark);
  --color-text-light: var(--vt-c-text-light);
  --color-text-dark: var(--vt-c-text-dark);

  --section-gap: 160px;
  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 20px;
  --font-size-extra: 26px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: var(--font-size-medium);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
