.container {
  height: 100%;
  width: calc(min(1440px, 100vw - 120px));
  margin: 0 auto;
}

.page-heading {
  font-weight: bold;
  margin-bottom: 16px;
  font-size: var(--font-size-extra);
}

@media screen and (max-width: 767px) {
  .container {
    width: calc(100vw - 80px);
  }
}